<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa đông không lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "meta-data.html" %}
</head>
<body>
    {% include "homepage/navigation.html" %}
    {% include "homepage/carousel.html" %}
    {% include "homepage/slide2.html" %}
    {% include "homepage/slide3.html" %}
    {% include "homepage/slide4.html" %}
    {% include "homepage/slide5.html" %}
    <!--
    <br>
    <a href="/detail-full">Chi tiết</a>
    <br>
    <a href="{{ url_for('admin') }}">Quản lý</a>
    <br>
    <a href="{{ url_for('search', g=0) }}">Click vào em đi!</a>
    <a href="{{ url_for('search', g=1) }}">Click vào anh đi!</a>
    <a href="/customer/male/notcontacted/first10">10 First Male Customers - Not Contacted</a>
    -->
</body>
</html>