<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>New Service</h1>
    <form method="post"> <!--khi khong viet thi mac dinh method la GET-->
        <label>Name</label>
        <input type = "text" name="name" placeholder="Tú Linh">
        <br>

        <label>Year of birth</label>
        <input type = "text" name="yob" placeholder="1994">
        <br>

        <label>Phone number</label>
        <input type = "text" name ="phone" placeholder="0987654321">
        <br>

        <label>Gender:</label>
        <br>
        <input type="radio" name="gender" value ="male"> Male<br>
        <input type="radio" name="gender" value = "female"> Female<br>
        

        <input type = "submit" value ="Submit the info">
    </form>
</body>
</html>