<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa đông không lạnh - Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Search page</h1>
    <a href="{{ url_for('index') }}">Về Trang Chủ</a>
    <hr>
    {% for service in all_service %}
        <div>
            <img src="/static/image/noimage-300x200.png" alt="">
            <h2>{{ service.name }}</h2>
            <p>{{ service.yob }}</p>
            <p>{{ service.height }} cm</p>
            <a href="{{ url_for('detail', service_id=service.id) }}">Chi tiết</a>
            <hr>
        </div>
    {% endfor %}
</body>
</html>