<div class="h-600px">
    <div class="d-flex justify-content-center align-items-center" style="height:20%;">
        <p class="font-35px text-dark font-weight-bold">Các gói dịch vụ</p>
    </div>
    <div class="d-flex justify-content-between mr-left-10 mr-right-10" style="height:80%">
        <!--box thu 1-->
        <div class="card" style="width: 20rem; height:80%;">
            <div class="card-header bg-grey1 d-flex align-items-center" style="height:60px">
                <p class="font-25px text-white font-weight-bold">Gói cơ bản</p>
            </div>
            <div class="card-body">
                <p class="card-text text-bold">Dẫn bạn về ra mắt gia đình</p>
                <p class="card-text text-bold">Ăn cơm cùng gia đình</p>
                <p class="card-text text-grey">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</p>
                <p class="card-text text-grey">Bạn không phụ gia đình các công việc nấu nướng dọn dẹp</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <button class="btn btn-dark text-light mr-left-45">
                        <i class="ml-2 fas fa-heart"></i>
                        Tìm hiểu thêm
                    </button>
                </li>
            </ul>
        </div>
        <!--box thu 2-->
        <div class="card" style="width: 20rem; height:80%;">
                <div class="card-header bg-grey2 d-flex align-items-center" style="height:60px">
                    <p class="font-25px text-white font-weight-bold">Gói tiêu chuẩn</p>
                </div>
                <div class="card-body">
                    <p class="card-text text-bold">Dẫn bạn về ra mắt gia đình</p>
                    <p class="card-text text-bold">Ăn cơm cùng gia đình</p>
                    <p class="card-text text-bold">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</p>
                    <p class="card-text text-grey">Bạn không phụ gia đình các công việc nấu nướng dọn dẹp</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button class="btn btn-dark text-light mr-left-45">
                            <i class="ml-2 fas fa-heart"></i>
                            Tìm hiểu thêm
                        </button>
                    </li>
                </ul>
            </div>
            <!--box thu 3-->
        <div class="card" style="width: 20rem; height:80%;">
                <div class="card-header bg-dark d-flex align-items-center" style="height:60px">
                    <p class="font-25px text-white font-weight-bold">Gói cao cấp</p>
                </div>
                <div class="card-body">
                    <p class="card-text text-bold">Dẫn bạn về ra mắt gia đình</p>
                    <p class="card-text text-bold">Ăn cơm cùng gia đình</p>
                    <p class="card-text text-bold">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</p>
                    <p class="card-text text-bold">Bạn không phụ gia đình các công việc nấu nướng dọn dẹp</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button class="btn btn-dark text-light mr-left-45">
                            <i class="ml-2 fas fa-heart"></i>
                            Tìm hiểu thêm
                        </button>
                    </li>
                </ul>
            </div>
    </div>
</div>