<div class="d-flex flex-column h-400px .bg-white">
    <div class="d-flex flex-column justify-content-center" style="height:50%">
        <p class="font-30px text-center font-weight-bold">Chúc mừng các bạn đã đến với Mùa Đông Không Lạnh</p>
        <p class="font-lobster font-21px text-center mr-left-10 mr-right-10 ">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do riêng tư, cũng như quyết định của bản thân bạn"</p>
    </div>
    <div class ="d-flex flex-row justify-content-around" style="height:50%">
        <div class="pic-female pic-size-slide2 mr-left-15" >
            <p class="font-weight-bold text-white mr-top-15 mr-left-50" style="font-size:20px">Bạn là Nam</p>
        </div>
        <div class="pic-male pic-size-slide2 mr-right-10">
            <p class="font-weight-bold text-white mr-top-15 mr-left-10 " style="font-size:20px">Bạn là Nữ</p>
        </div>

    </div>
</div> 