<div class="bg-slide3 h-600px">
    <div class="d-flex justify-content-center align-items-center" style="height:20%;">
            <p class="font-30px text-white font-weight-bold">Khách hàng bình chọn</p>
    </div>
    <div class="d-flex justify-content-between  mr-left-10 mr-right-10" style="height:40%">
        <div class="pic1-slide3 pic-size-slide3 border-white"></div>
        <div class="pic2-slide3 pic-size-slide3 border-white"></div>
        <div class="pic3-slide3 pic-size-slide3 border-white"></div>
        <div class="pic4-slide3 pic-size-slide3 border-white"></div>
    </div>
    <div class="d-flex justify-content-between  mr-left-10 mr-right-10" style="height:40%">
        <div class="pic1-slide3 pic-size-slide3 border-white"></div>
        <div class="pic2-slide3 pic-size-slide3 border-white"></div>
        <div class="pic3-slide3 pic-size-slide3 border-white"></div>
        <div class="pic4-slide3 pic-size-slide3 border-white"></div>
    </div>

</div>