<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your BMI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>This is BMI Calculator:</h2>
    <p>Your height (cm): {{ kpis.h }}</p>
    <p>Your weight (kg): {{ kpis.w }}</p>
    <p>Your BMI is: {{ kpis.bmi }}</p>
    <p> You are: 
    {% if kpis.bmi < 16 %}
        Severely underweight
    {% elif 16 <= kpis.bmi < 18.5 %}
        Underweight
    {% elif 18.5 <= kpis.bmi < 25 %}
        Normal
    {% elif 25 <= kpis.bmi < 30 %}
        Overweight
    {% else %}
        Obese
    {% endif %}
    </p>
</body>
</html>