<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CMS App - Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Video detail</h1>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>
</html>